<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>HEYYY!!!!!</p>
    <body>
      <button onclick="myFunc()">Click Me</button>
      <p id="demo"></p>
   
      <script>
         function myFunc(){
            
            document.getElementById("demo").innerHTML = "Hello World";
         }
      </script>
   </body>
  </body>
</html>
