<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <h1><%= title %></h1>
    <p>This is index page !!!!!!</p>
    
      <% employeesArray.forEach(function(eachemployee){%>
        <h1><%=  JSON.stringify(eachemployee)%></h1>
      <% }) %>
      


 
      

      
      
    
  </body>
</html>
